body {
    font-family: 'Inter', sans-serif;
}

.code-container {
    resize: both;
    size: 100% 100%;
    font-family: 'Fira Code', monospace;
}

/* Interfaz antigua
#btn-container {
    text-align: center;
    z-index: 2;
}

.centered {
    text-align: center;
}

.bkg, .container {
    width: 320px;
    height: 180px;
    z-index: 1;
}

#error-msg-container {
    resize: both;
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: dashed;
    border-color: black;
    border-width: thin;
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.ovflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: scrolltxt 10s infinite linear;
}

.ovflow:hover {
    animation-play-state: paused;
}

@keyframes scrolltxt {
    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(10%);
    }
    90% {
        animation-direction: reverse;
    }
}*/
